#c {
    text-transform: capitalize;
}

.botoes{
  font-family: Arial, Helvetica, sans-serif !important;
}


.ta {
  font-family: 'Verdana', 'Geneva', sans-serif !important; 
}


.back{
  margin-left: 80px;
}

.next{
  margin-left: 80px;
  margin-bottom: 20px;
}